<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Alta de Comida</title>
</head>
<body>

	<center>
		<h1>AGREGAR COMIDA</h1>

		<a th:href="@{/ComidaCtrl/inicio}">Regresar</a>

	<div class="container">
		
	</center>
		<div class="row vh-70 justify-content-center align-items-center">
			<div class="col-auto bg-light p4">
		
				<form th:action="@{/ComidaCtrl/guardar}" method="POST"
					th:object="${comida}">
          
					<div class="input-group p-2" style="">
						<label for="id" style="margin: 3px">Id:</label>
						
						<input type="text" name="id"
							th:field="*{id}" style="margin: 2px; padding: 2px; width:100%">
					</div>
					<div class="input-group p-2">
						<label for="nombre" style="margin: 3px">Nombre:</label>
					 
						<input type="text"
							name="nombre" th:field="*{nombre}" style="margin: 2px; padding: 2px; width:100%">
					</div>
					<div class="input-group p-2">
						<label for="region" style="margin: 3px">Region:</label> 
						<input type="text"
							name="region" th:field="*{region}" style="margin: 2px; padding: 2px; width:100%">
					</div>

					<div class="input-group p-2">
						<label for="precio" style="margin: 3px">Precio:</label> 
						<input type="text"
							name="precio" th:field="*{precio}" style="margin: 2px; padding: 2px; width:100%">
					</div>
					<input class="btn btn-primary w-100" type="button" name="guardar" value="Guardar">
				</form>
			</div>

		</div>

	</div>


</body>
</html>