<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<title>Comidas</title>
</head>
<body>
	<center><h1>Gestión de comida</h1>
	<a th:href="@{/ComidaCtrl/alta}">Alta Comida</a></center>

	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>NOMBRE</th>
					<th>REGION</th>
					<th>PRECIO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="l : ${lista}">
					<td th:text="${l.id}">ID</td>
					<td th:text="${l.nombre}">Nombre</td>
					<td th:text="${l.region}">Region</td>
					<td th:text="${l.precio}">Precio</td>
					<td><a th:href="@{/ComidaCtrl/edita/} + ${l.id}"
						th:text="Editar" type="button"
						class="btn btn-secondary w-100"></a></td>
					<td> 
					
					<a th:href="@{/ComidaCtrl/borrar/} + ${l.id}"
						th:text="Eliminar"  type="button"
						class="btn btn-warning w-100"></a></td>
				</tr>


			</tbody>

		</table>


	</div>




</body>
</html>